/* Body */
body {
    background-image: url(../images/background_info.png);max-width: 100%; height: auto;
    background-position: center; right: 300px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color:#8b1430 ;
    background-size: 100%
}

html, body {margin: 0; height: 100%; overflow: hidden}


/*text*/
@font-face {
    font-family: 'MyFont';
    src: url(/fonts/AnodyneCombined/Anodyne.ttf);
}

.overskrift {
   position: absolute;
   margin-top: 30px;
   left: 450px;
   top: 60px;
}

/* Icons */
div {
    padding-bottom: 25%;
}
.icons {
    display: block;
    position: absolute;
    left: 50px;
    top: 100px;

    
}
.img_icons{
    height: 130px;
    width: 130px;
}

/* icons hover */

.container {
    position: relative;
    width: 100%;
    max-width: 400px; 
}
.image {
    width: 100%;
    height: auto;
  }
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }

  .icon {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }


  /*text*/
@font-face {
    font-family: 'MyFont';
    src: url(/fonts/AnodyneCombined/Anodyne.ttf);
}

h1 {
    text-align: center;
    color: white;
    font-family: 'MyFont';
    font-size: 50px;
    position: absolute;
    left:500px;
    top: 40px;
    margin-top: 68px;
}


/*knapper */
.broed{
    position: absolute;
    left: 250px;
    top: 200px;
    display: block;
}

.broed:hover{
    transform: scale(1.1);
    transition: .3s ease;
}

.mejeri {
    position: absolute;
    left: 250px;
    top: 450px;
    display: block;
}

.mejeri:hover{
    transform: scale(1.1);
    transition: .3s ease;
}
.frugt {
    position: absolute;
    left: 750px;
    top: 200px;
    display: block;
}

.frugt:hover {
    transform: scale(1.1);
    transition: .3s ease;
}
.groentsager {
    position: absolute;
    left: 750px;
    top: 450px;
    display: block;
}

.groentsager:hover{
    transform: scale(1.1);
    transition: .3s ease;
}