body{
    background-image: url(/images/background_yes.png);
    position: fixed;
    background-repeat: no-repeat;
    font-family: 'myfont';
    font-size: 40px;
}

.eyes {
    position: absolute;
    left: 900px;
}

@font-face{
    font-family: 'myfont';
    src: url(/fonts/manga/Manga.otf);