/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Pixelify+Sans:wght@400..700&family=Protest+Guerrilla&display=swap");

/* fonte */
@font-face {
  font-family: "folkin";
  src: url(/fonts/Folkin.ttf);
}

/* Variabler */
:root{
    --Pistachio:#3A441D;
    --YellowFlax: #ffef93;
    --Vanilla: #fff5b6;
    --BrownIsh:  #A27A69;
    --Black: #000000;


/* body */
body{
    background-color: var(--Vanilla);
    background-image: url(/images/HP_Back_TEST.png);
    margin-left: 40px;
    background-attachment:scroll;
    position: fixed;
    background-position:bottom;
}

/* menu */
.menu{
  text-shadow: 20px 20px;
  opacity: 80;
  -webkit-text-stroke: 0.5px;
  -webkit-text-stroke-color: rgb(20, 0, 0);
}
.kolonne{
  display: flex; justify-content: space-evenly;
  font-family: "folkin";
  font-size: 30px;
  margin-right: 50px;
  /* ændre hvis du vil have bjælken til at følge med - men mangler at links følger med også */
  /* position: fixed; */
}

a{
  color: var(--Vanilla);
  padding-left: 110px;
}

/* text */
h1{
    color: var(--Vanilla);
    font-family: "folkin";
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  position: absolute;
  left: 35px;
  top: 100px;
}

.kolonne:before{
  content: url(/images/Julekort_100x100.png);
  position: fixed;
  left: 30px;
  border:10px solid;
  border-radius: 50%;
  border-color: #ffef93;
  border-radius: 50%;
  
}

article{
  color: var(--Vanilla);
  font-family: "folkin";
font-weight: 400;
font-style: normal;
font-size: 25px; ;
position:absolute;
left: 35px;
top: 250px;
border: 10px solid ;
padding-inline: 10px;
}


/* Hover effekter */
a:link{
  text-decoration: none;}
}

.menu:hover{
  transform: scale(1.2);
  transition: .3s ease-in;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body {background: red; background-image: url(/images/Wood_Texture_Background.png);}
  main{font-size: xl;}
}